# Compiled output
/dist
/build

# Node
node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.production

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
/coverage

# NestJS
